[alias]
  co = checkout
  ci = commit
  st = status
  graph = log --graph --pretty=oneline --abbrev-commit --all --decorate

[user]
  email = YOUR.EMAIL@company.com
  name = YOUR NAME

[color]
  diff = auto
  status = auto
  branch = auto

[core]
  whitespace = -trailing-space

[github]
  user = GITHUB_USER
  token = 12345678901234567890
